<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
<form action='http://localhost:3000/getAll'><input type="submit" value="Get All"></form>
<form action='http://localhost:3000/insertForm.html'><input type="submit" value="Insert"></form>
<form action='http://localhost:3000/updateForm.html'><input type="submit" value="Update"></form>
<form action='http://localhost:3000/deleteForm.html'><input type="submit" value="Delete"></form>
<form action='http://localhost:3000/search.html'><input type="submit" value="Search For A user"></form>
</body>
</html>
