<html>
<title>Update Form</title>
<body>

<form action="http://localhost:3000/update" method="POST">


User to update First Name: <input type="text" name="search_user_first_name">  <br>

User to update Last Name: <input type="text" name="search_user_last_name"> <br>

New First Name: <input type="text" name="update_user_first_name">  <br>

New Last Name: <input type="text" name="update_user_last_name"> <br>

New Email address : <input type="text" name="update_user_email"> <br>

<input type="submit" value="Submit">
</form>
</body>
</html>
